.catalog {
  margin-bottom: 80px;
}

.catalog__top {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.catalog__title {
  display: inline-block;
  width: 184px;
  .zero();
  margin-right: 38px;

  .setFont(48px; 65px;);
  font-weight: 400;
}

.catalog__countries {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 432px;
}

.catalog__country {
  position: relative;

  display: block;
  width: 46px;
  height: 46px;

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100%;

  border: 2px solid transparent;
  border-radius: 100px;

  &:hover {
    filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
  }

  &:active {
    border: 2px solid @main-color;
  }

  cursor: pointer;
  & span {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -11px;
      left: -11px;

      display: none;
      width: 60px;
      height: 60px;

      border: 2px solid @main-color;
      border-radius: 50px;
    }
  }

  & input:checked + span:before {
    display: block;
  }
}

.catalog__country--france {
  background-image: url('../img/image4.png');
}

.catalog__country--germany {
  background-image: url('../img/image6.png');
}

.catalog__country--italy {
  background-image: url('../img/image7.png');
}

.catalog__country--russia {
  background-image: url('../img/image8.png');
}

.catalog__country--belgium {
  background-image: url('../img/image5.png');
}

.catalog__text {
  max-width: 1080px;
  margin-bottom: 39px;

  .setFont(16px; 32px;);
}

.catalog__main {
  display: flex;
  justify-content: space-between;
}

.catalog__left {
  width: 46.875%;
  margin-right: 50px;
}

.catalog__img {
  margin-bottom: 25px;

  & img {
    height: auto;
  }
}

.catalog__author {
  .zero();
  margin-bottom: 5px;

  .setFont(24px; 32px;);
  font-weight: 600;
}

.catalog__time {
  display: inline-block;
  margin-bottom: 5px;

  .setFont(12px; 16px;);
  color: gray;
}

.catalog__describe {
  .zero();

  .setFont(16px; 32px;);
}

.catalog__right {
  width: 50%;
}

.catalog__accordion-item {
  cursor: pointer;
}

.catalog__accordion-item.active a{
  color: @main-color;
}

.catalog__accordion-item a {
  &:hover {
    color: @main-color;

    border-bottom: 1px solid @main-color;
  }

  &:active {
    color: @active-color;

    border: none;
  }
}

.catalog__accordion-icon {
  position: relative;

  width: 50px;
  height: 50px;

  background-color: #ECECEC;

  border: 2px solid transparent;
  border-radius: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;

    width: 11px;
    height: 11px;

    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    transform: rotate(45deg);
  }
}

.catalog__accordion-title {
  .zero();

  .setFont(24px; 32px;);
  font-weight: 600;
}

.ui-state-active {
  border-bottom-color: @main-color !important;
}

.ui-state-active .catalog__accordion-title {
  color: #333;
}

.ui-state-active .catalog__accordion-icon::before {
  top: 21px;

  transform: rotate(-135deg);
}

.ui-accordion-content-active.catalog__accordion-list {
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  height: 342px !important;
  margin-bottom: 5px;

  .setFont(16px; 32px;);
}

.ui-accordion-header {
  &:focus {
    & .catalog__accordion-title {
      border: 2px solid @outline-color;
    }

    & .catalog__accordion-icon {
      border: 2px solid @outline-color;
    }
  }

  &:hover {
    & .catalog__accordion-title {
    color: @main-color;
    }
    & .catalog__accordion-icon {
      background-color: @main-color;
      &::before {
        border-color: #fff;
      }
    }
  }

  &:active {
    & .catalog__accordion-icon {
      border-color: @active-color;
    }
  }
}

.catalog__accordion .ui-accordion-header {
  padding: 29px 0 33px 0;
}

.catalog__accordion .ui-accordion-content {
  padding: 25px 50px 25px 0;
}

@media (max-width: 1024px) {
  .catalog__countries {
    align-items: flex-end;
  }

  .catalog__text {
    max-width: 100%;
  }

  .catalog__left {
    width: 47.29%;
  }

  .catalog__right {
    width: 47.29%;
  }

  .catalog__accordion .ui-accordion-content {
    height: 439px !important;
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .catalog {
    margin-bottom: 70px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog__main {
    flex-direction: column-reverse;
  }

  .catalog__left {
    width: 100%;
  }

  .catalog__right {
    width: 100%;
    margin-bottom: 53px;
  }

  .catalog__countries {
    width: 450px;
    align-items: center;
  }

  .catalog__accordion .ui-accordion-content {
    height: 342px !important;
    padding-right: 10px;
    align-content: space-between;
  }

}

@media (max-width: 640px) {
  .catalog {
    margin-bottom: 52px;
  }

  .catalog__top {
    flex-direction: column;
  }

  .catalog__title {
    margin-bottom: 12px;

    .setFont(28px; 38px;);
  }

  .catalog__countries {
    width: auto;
    max-width: 640px;
    margin-bottom: 4px;
  }

  .catalog__country {
    width: 32px;
    height: 32px;

    & span::before {
      top: -10px;
      left: -10px;

      width: 44px;
      height: 44px;
    }
  }

  .catalog__text {
    display: none;
  }

  .catalog__accordion .ui-accordion-header {
    padding: 22px 0 19px 0;
  }

  .catalog__accordion-title {
    .setFont(18px; 32px;);
    font-weight: 600;
  }

  .catalog__accordion-icon {
    width: 30px;
    height: 30px;

    &::before {
      top: 8px;
      left: 10px;

      width: 6px;
      height: 6px;
    }
  }

  .ui-state-active .catalog__accordion-icon::before  {
    top: 9px;
  }

  .ui-accordion-content-active.catalog__accordion-list {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto !important;
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 21px;
    margin-bottom: 0;
  }

  .catalog__right {
    margin-bottom: 50px;
  }

  .catalog__img {
    margin-bottom: 15px;
  }

  .catalog__author {
    margin-bottom: 9px;
  }

  .catalog__describe {
    max-width: 289px;
  }
}
