.footer {
  background-color: #000;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 47px 10px;
}


.footer__list {
  display: flex;
}

.footer__item {
  width: 45px;
  height: 45px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}
