.gallery {
  background: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3(1).jpg') no-repeat;
  background-size: cover;
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 80px 10px 65px 10px;
}

.gallery__left {
  display: flex;
  flex-direction: column;
  width: 27%;
  padding-right: 32px;
}

.gallery__right {
  width: 72%;
}

.gallery__title {
  .zero();
  margin-bottom: 16px;

  .setFont(48px; 65px; #fff);
}

.gallery__left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 5px;
}

.gallery__selects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .zero();
  border: none;
}

.gallery__selects legend {
  margin-bottom: 9px;

  .setFont(16px; 32px; #fff;);
}

.gallery__note {
  max-width: 380px;

  .setFont(16px; 32px; #fff;);
  font-weight: 600;

  & a {
    color: @main-color;

    transition: all .2s ease;

    &:hover {
      color: @hover-color;
    }

    &:active {
      color: @active-color;
    }
  }
}

.gallery__selects .choices__inner {
  padding: 3px 13px;
}

.gallery__selects .choices::after {
  right: 16px;
}

.gallery__selects .choices.is-open::after {
  top: 18px;
}

.choices__list--dropdown .choices__item {
  padding: 3px 18px;
  
  font-family: 'Open Sans', sans-serif;
}

.gallery__swiper {
  position: relative;

  height: 850px;
  padding-top: 85px;
}

.gallery__swiper--mobile {
  display: none;
}

.gallery__swiper--desktop .gallery__swiper-img {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 350px;

  cursor: pointer;

  &:first-child {
    margin-bottom: 50px;
  }

  &:hover .gallery__more {
    opacity: 1;
  }

  &:active::after {
    opacity: .3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #D1A9F0;

    background-color: @main-color;
    opacity: 0;

    transition: all .2s ease;
  }
}

.gallery__more {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 85.71%;
  height: 85.71%;

  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/Group 12.svg');
  background-position: center center;
  background-repeat: no-repeat;

  z-index: 1;
  opacity: 0;

  transition: all .2s ease;
  transform: translate(-50%, -50%);
}

.gallery__swiper--desktop .gallery__swiper-container-btn {
  position: absolute;
  top: 24px;
  left: 4px;

  display: flex;
  flex-wrap: nowrap;
  min-width: 130px;
  min-height: 30px;
}

.gallery__swiper-button-prev,
.gallery__swiper-button-next {
  position: relative;

  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 50%;

  background-color: #666;
  outline: 0;
  cursor: pointer;

  transition: all .2s ease;

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 11px;

    width: 6px;
    height: 6px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;

    transform: rotate(-135deg);
  }

  &:hover {
    background-color: @main-color;
  }

  &:active {
    border-color: @active-color;
  }

  &:focus {
    border-color: @outline-color;
  }
}

.gallery__swiper-button-next::after {
    top: 9px;
    left: 9px;

    transform: rotate(45deg);
}

.gallery__swiper-button-prev {
  margin-right: 20px;
}

.gallery__swiper-pagination {
  margin-right: 19px;

  .setFont(16px; 32px;);
  color: #fff;
}

@media (max-width: 1270px) {
  .gallery__swiper--desktop .gallery__swiper-img:first-child {
    margin-bottom: 34px;
  }
}

@media (max-width: 1090px) {
  .gallery__swiper {
    height: 650px;
  }
}

@media (max-width: 1024px) {
  .gallery__wrapper {
    padding-bottom: 55px;
  }

  .gallery__left {
    width: 35%;
    padding-right: 43px;
  }

  .gallery__left-content {
    padding-bottom: 0;
    max-height: 607px;
  }

  .gallery__right {
    width: 64.28%;
  }

  .gallery__swiper {
    height: 704px;
  }

  .gallery__swiper--desktop .gallery__swiper-container-btn {
    left: 0;
  }
}

@media (max-width: 768px) {
  .gallery__wrapper {
    position: relative;

    flex-direction: column;
    padding-bottom: 112px;
  }

  .gallery__left {
    width: 100%;
    margin-bottom: 110px;
  }

  .gallery__selects {
    max-width: 280px;
  }

  .gallery__note {
    position: absolute;
    bottom: 70px;
    left: 10px;

    max-width: 100%;
  }

  .gallery__right {
    width: 100%;
  }

  .gallery__swiper {
    padding-top: 60px;
  }

  .gallery__swiper--desktop .gallery__swiper-img {
    max-height: 280px;
    justify-content: center;

    overflow: hidden;
  }

  .gallery__swiper--desktop .gallery__swiper-container-btn {
    top: 0;
  }

}

@media (max-width: 576px) {
  .gallery__wrapper {
    padding: 50px 15px 247px 15px;
    padding-top: 50px;
    padding-bottom: 247px;
  }

  .gallery__title {
    margin-bottom: 12px;

    .setFont(28px; 38px; #fff;);
  }

  .gallery__left {
    padding: 0;
    margin-bottom: 118px;
  }

  .gallery__selects {
    max-width: 100%;


    & legend {
      margin-bottom: 5px;
    }
  }

  .gallery__note {
    left: 15px;
  }

  .gallery__swiper--desktop {
    display: none;
  }

  .gallery__swiper--mobile {
    display: block;
  }

  .gallery__swiper {
    max-height: 420px;
    padding: 0;
    padding-bottom: 50px;
  }

  .gallery__swiper-slide {
    height: 367px;
    max-height: 367px;

    & img {
      height: 100%;
    }
  }

  .gallery__swiper-container-btn--mobile {
    position: absolute;
    bottom: 0;
    left: 50%;
  
    display: flex;
    flex-wrap: nowrap;
    min-width: 130px;
    min-height: 30px;

    transform: translateX(-50%);

    & .gallery__swiper-pagination {
      width: 51px;
      margin-right: 10px;

      text-align: center;
    }

    & .gallery__swiper-button-prev {
      margin-right: 10px;
    }
  }

  .gallery__note {
    max-width: 280px;
  }
}
