.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.header__top {
  background-color: #000;
}

.header__wrapper {
  position: relative;
}

.header__top-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px 25px 10px;

  & > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.header__logo {
  .zero();
  margin-right: 11.2%;

  transition: all .2s ease;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}

.header__top-burger {
  display: none;
}

.header__top-btn-search {
  display: none;
}

.header__btn-enter {
  position: relative;

  .zero();
  padding-left: 23px;
  padding-bottom: 5px;
  border: none;

  .setFont(18px; 24px; #fff);

  background: none;
  cursor: pointer;

  transition: all .2s ease;

  &::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;

    width: 13px;
    height: 13px;

    background-image: url('../img/enter.svg');
    background-position: 0 -6px;

    transition: all .2s ease;
  }

  &:hover {
    color: @hover-color;

    &::after {
      background-image: url('../img/enterHover.svg');
    }
  }

  &:active {
    color: @main-color;

    &::after {
      background-image: url('../img/enterActive.svg');
    }
  }
}

.header__middle {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__middle-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

.header__middle-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__middle-item {
  position: relative;
  padding: 23px 0 23px 0;

  &:not(:last-child) {
    margin-right: 97px;
  }
}

.header__middle-extra-menu {
  position: absolute;
  left: 0;
  top: 100%;

  display: none;
  width: 300px;
  height: 300px;
  padding: 40px;
  padding-bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);

  animation: opacity .2s 1 ease;

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.4);
  }

  &.active {
    display: block;
  }
}

.header__middle-extra-menu-item {
  position: relative;

  width: 220px;
  padding: 9px 12px 10px 12px;
  border: 1px solid transparent;

  .setFont(14px; 19px; #fff;);
  font-weight: 600;

  background-repeat: no-repeat;
  cursor: pointer;

  transition: all .2s ease;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    opacity: 0;

    transition: all .2s ease;
  }

  &:hover {
    border: 1px solid @main-color;
  }

  &:active::after {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.header__middle-extra-menu.scroll .header__middle-extra-menu-item {
  background-size: cover;
  background-position: 0 center;

  &:nth-child(1) {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1.jpg');
  }

  &:nth-child(2) {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.jpg');
  }

  &:nth-child(3) {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg');
  }

  &:nth-child(4) {
    background-image: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.jpg');
  }
}

.header__middle-extra-menu.scroll2 .header__middle-extra-menu-item {
  &:nth-child(1) {
    background-image: url('../img/Rectangle21.png');
  }

  &:nth-child(2) {
    background-image: url('../img/Rectangle22.png');
  }

  &:nth-child(3) {
    background-image: url('../img/Rectangle23.png');
  }

  &:nth-child(4) {
    background-image: url('../img/Rectangle24.png');
  }
}

.header__middle-extra-menu.scroll3 .header__middle-extra-menu-item {
  &:nth-child(1) {
    background-image: url('../img/Rectangle31.png');
  }

  &:nth-child(2) {
    background-image: url('../img/Rectangle32.png');
  }

  &:nth-child(3) {
    background-image: url('../img/Rectangle33.png');
  }

  &:nth-child(4) {
    background-image: url('../img/Rectangle34.png');
  }
}

.header__middle-extra-menu.scroll4 .header__middle-extra-menu-item {
  &:nth-child(1) {
    background-image: url('../img/Rectangle41.png');
  }

  &:nth-child(2) {
    background-image: url('../img/Rectangle42.png');
  }

  &:nth-child(3) {
    background-image: url('../img/Rectangle43.png');
  }

  &:nth-child(4) {
    background-image: url('../img/Rectangle44.png');
  }
}

.header__middle-extra-menu.scroll5 .header__middle-extra-menu-item {
  &:nth-child(1) {
    background-image: url('../img/Rectangle51.png');
  }

  &:nth-child(2) {
    background-image: url('../img/Rectangle52.png');
  }

  &:nth-child(3) {
    background-image: url('../img/Rectangle53.png');
  }

  &:nth-child(4) {
    background-image: url('../img/Rectangle54.png');
  }
}

.header__middle-item-link {
  position: relative;

  .zero();
  padding-right: 16px;

  .setFont(18px; 24px; #fff;);

  cursor: pointer;

  transition: all .2s ease;

  &::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 9px;

    width: 6px;
    height: 6px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    transform: rotate(45deg);
    transition: all .2s ease;
  }

  &:hover {
    color: @main-color;

    &::after {
      border-color: @main-color;
    }
  }

  &:active {
    color: @active-color;

    &::after {
      border-color: @active-color;
    }
  }
}

.header__middle-form {
  display: flex;
  align-items: center;
}

.header__middle-btn-search {
  width: 22px;
  height: 28px;
  padding: 0;
  margin-right: 11px;

  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;
  cursor: pointer;

  transition: all .2s ease;

  &:hover {
    background-image: url('../img/searchHover.svg');
  }
}

.header__middle-search {
  width: 218px;
  padding: 2px 0 1px 0;
  border-bottom: 1px solid #fff;

  .setFont(18px; 24px; #fff;);

  cursor: pointer;

  transition: all .2s ease;

  &::placeholder {
    color: #fff;
  }

  &:hover {
    border-color: @hover-color;
  }
}

.header__middle-search:hover .header__middle-btn-search {
  background-color: @hover-color;
}

@media (max-width: 1350px) {
  .header__middle-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

@media (max-width: 1200px) {
  .header__logo {
    margin-right: 5%;
  }
}

@media (max-width: 1024px) {
  .header__top-wrapper {
    position: relative;

    justify-content: space-between;
    padding-bottom: 23px;
  }

  .header__top-burger {
    display: block;
    padding: 0;

    cursor: pointer;
  }

  .header__svg-cross {
    display: none;
  }

  .header__top-burger.active {
    & .header__svg-cross {
      display: block;
    }

    & .header__svg-burger {
      display: none;
    }
  }

  .header__btn-enter {
    display: none;
  }

  .header__top-btn-search {
    display: block;
    width: 30px;
    height: 29px;
    padding: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo {
    margin-right: 0;

    & img {
      width: 188px;
      height: 42px;
    }
}

  .header__middle {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__top-wrapper {
    padding: 12px 10px 7px 10px;
  }

  .header__top-burger {
    .zero();
    width: 20px;
    height: 15px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo img{
    width: 97px;
    height: 22px;
  }

  .header__top-btn-search {
    width: 16px;
    height: 16px;

    & svg {
      width: 100%;
      height: auto;
    }
  }
}
