.header__top {
  background-color: #000;
}

.header__wrapper {
  position: relative;
}

.header__top-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10px 26px 10px;

  & > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.header__logo {
  .zero();
  margin-right: 11.2%;

  transition: .2s;

  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: .5;
  }
}

.header__top-burger {
  display: none;
}

.header__top-btn-search {
  display: none;
}

.header__btn-enter {
  position: relative;

  .zero();
  padding-left: 23px;
  padding-bottom: 5px;

  .setFont(18px; 24px; #fff);

  background: none;

  border: none;

  transition: .2s;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;

    width: 13px;
    height: 13px;

    background-image: url('../img/enter.svg');
    background-position: 0 -6px;

    transition: .2s;
  }

  &:hover {
    color: @hover-color;

    &::after {
      background-image: url('../img/enterHover.svg');
    }
  }

  &:active {
    color: @main-color;

    &::after {
      background-image: url('../img/enterActive.svg');
    }
  }
}

.header__middle {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.header__middle-wrapper {
  display: flex;
  align-items: center;
  padding: 17px 10px 21px 10px;
}

.header__middle-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64.6%;
  margin-right: auto;
}

.header__middle-item-link {
  position: relative;

  padding-right: 16px;

  .setFont(18px; 24px; #fff;);

  cursor: pointer;

  transition: .2s;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 10px;

    width: 6px;
    height: 6px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    transform: rotate(45deg);
    transition: .2s;
  }

  &:hover {
    color: @main-color;

    &::after {
      border-color: @main-color;
    }
  }

  &:active {
    color: @active-color;

    &::after {
      border-color: @active-color;
    }
  }
}

.header__middle-form {
  display: flex;
  align-items: center;
}

.header__middle-btn-search {
  width: 22px;
  height: 28px;
  padding: 0;
  margin-right: 11px;

  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;

  cursor: pointer;

  transition: .2s;

  &:hover {
    background-image: url('../img/searchHover.svg');
  }
}

.header__middle-search {
  width: 218px;
  padding: 6px 0 1px 0;

  .setFont(18px; 24px; #fff;);

  border-bottom: 1px solid #fff;

  cursor: pointer;

  transition: .2s;

  &::placeholder {
    color: #fff;
  }

  &:hover {
    border-color: @hover-color;
  }
}

.header__middle-search:hover .header__middle-btn-search {
  background-color: @hover-color;
}

@media (max-width: 1024px) {
  .header__top-wrapper {
    position: relative;

    justify-content: space-between;
    padding-bottom: 23px;
  }

  .header__top-burger {
    display: block;
    padding: 0;

    cursor: pointer;
  }

  .header__svg-cross {
    display: none;
  }

  .header__top-burger.active {
    & .header__svg-cross {
      display: block;
    }

    & .header__svg-burger {
      display: none;
    }
  }

  .header__btn-enter {
    display: none;
  }

  .header__top-btn-search {
    display: block;
    width: 30px;
    height: 29px;
    padding: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo img {
    width: 188px;
    height: 42px;
  }

  .header__middle {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__top-wrapper {
    padding: 12px 10px 7px 10px;
  }

  .header__top-burger {
    .zero();
    width: 20px;
    height: 15px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo img{
    width: 97px;
    height: 22px;
  }

  .header__top-btn-search {
    width: 16px;
    height: 16px;

    & svg {
      width: 100%;
      height: auto;
    }
  }
}
