.header {
  margin-bottom: 80px;

  background: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg') no-repeat;
  background-size: cover;
}

.header__top {
  background-color: #000;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  padding: 30px 10px 26px 10px;
}

.header__top-burger {
  display: none;
}

.header__top-btn-search {
  display: none;
}

.header__btn-enter {
  position: relative;

  .zero();
  margin-left: auto;
  padding-left: 23px;
  padding-bottom: 5px;

  .setFont(18px; 24px; #fff);

  background: none;

  border: none;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;

    width: 13px;
    height: 13px;

    background-image: url('../img/enter.svg');
    background-position: 0 -6px;
  }

  &:hover {
    color: @hover-color;

    &::after {
      background-image: url('../img/enterHover.svg');
    }
  }

  &:active {
    color: @main-color;

    &::after {
      background-image: url('../img/enterActive.svg');
    }
  }
}

.header__middle {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__middle-wrapper {
  display: flex;
  align-items: center;
  padding: 17px 10px 21px 10px;
}

.header__middle-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64.6%;
}

.header__middle-item a{
  position: relative;

  padding-right: 16px;

  .setFont(18px; 24px; #fff;);

  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 10px;

    width: 6px;
    height: 6px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    transform: rotate(45deg);
  }

  &:hover {
    color: @main-color;

    &::after {
      border-color: @main-color;
    }
  }

  &:active {
    color: @active-color;

    &::after {
      border-color: @active-color;
    }
  }
}

.header__middle-btn-search {
  width: 22px;
  height: 28px;
  margin-left: auto;
  padding: 0;

  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 0 6px;

  cursor: pointer;

  &:hover {
    background-image: url('../img/searchHover.svg');
  }
}

.header__middle-search {
  width: 218px;
  padding: 6px 0 1px 0;
  margin-left: 11px;

  .setFont(18px; 24px; #fff;);

  border-bottom: 1px solid #fff;

  cursor: pointer;

  &::placeholder {
    color: #fff;
  }

  &:hover {
    border-color: @hover-color;
  }
}

.header__middle-search:hover .header__middle-btn-search {
  background-color: @hover-color;
}

.header__bottom-wrapper {
  padding: 71px 10px 122px 10px;
}

.header__bottom-title {
  display: block;
  max-width: 580px;
  margin-left: -4px;
  margin-bottom: 21px;

  .setFont(72px; 82px; #fff;);
  font-weight: 700;
}

.header__bottom-text {
  max-width: 560px;
  .zero();
  margin-bottom: 90px;

  .setFont(18px; 30px; #fff;);
  font-weight: 700;
}

.header__bottom-btn-subscribe {
  display: inline-block;
  padding: 21px 33px 20px 32px;

  font-weight: 700;
  letter-spacing: 0.4px;

  border: 3px solid transparent;

  &:focus {
    border: 3px solid @active-color;
  }

  &:hover {
    border: 3px solid #D1A9F0;
  }

  &:active {
    background-color: @active-color;
  }
}

@media (max-width: 1024px) {
  .header__top-wrapper {
    justify-content: space-between;
    padding-bottom: 23px;
  }

  .header__top-burger {
    display: block;
    padding: 0;
  }

  .header__btn-enter {
    display: none;
  }

  .header__top-btn-search {
    display: block;
    width: 30px;
    height: 29px;
    padding: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo img {
    width: 188px;
    height: 42px;
  }

  .header__middle {
    display: none;
  }

  .header__bottom-wrapper {
    padding: 113px 10px 113px 10px;
  }

  .header__bottom-title {
    margin-bottom: 13px;
  }

  .header__bottom-text {
    max-width: 660px;
    margin-bottom: 134px;
  }

  .header__bottom-btn-subscribe {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .header {
    margin-bottom: 49px;
  }

  .header__top-wrapper {
    padding: 12px 10px 7px 10px;
  }

  .header__top-burger {
    .zero();
    width: 20px;
    height: 15px;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo img{
    width: 97px;
    height: 22px;
  }

  .header__top-btn-search {
    width: 16px;
    height: 16px;

    & svg {
      width: 100%;
      height: auto;
    }
  }

  .header__bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 34px 10px 45px 10px;
  }

  .header__bottom-title {
    max-width: 258px;
    margin-bottom: 13px;

    .setFont(32px; 36px; #fff;);
    font-weight: 700;
    text-align: center;
  }

  .header__bottom-text {
    max-width: 265px;
    margin-bottom: 40px;

    .setFont(12px; 16px; #fff;);
    text-align: center;
  }

  .header__bottom-btn-subscribe {
    padding: 10px 10px 10px 14px;
    .setFont(12px; 16px; #fff;);
    font-weight: 700;
  }
}
